body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.section-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 2rem;
}

.section-divider {
  width: 25%;
  height: 4px;
  margin: 1.5rem auto;
  background: linear-gradient(to right,  #0ea5e9,  #5FCAF9);
  border-radius: 12px;
  border: none;
}


span {
  color: rgb(14, 165, 233);
}

.small-button {
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  line-height: 1.2;
}


.social-icons {
  margin-top: 0.8rem;
  text-align: left;
    font-size: 1.2rem;        /* size of icons */

}

.social-icons a {
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 25%;
  transition: background 0.3s;
}

.social-icons a:hover {
  color: rgb(14, 165, 233);
}
