nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: #fafafa;
  font-size: 0.8em;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  gap: 2rem; /* Add space between items */
}

a {
  color: inherit; /* keeps current color */
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: rgb(14, 165, 233); /* nice light blue */
}


