<section class="experience-section" id="experience">
    <div class="section-header">
        <h2>Professional Experience</h2>
        <hr class="section-divider"/>
    </div>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Technical Owner</h3>
                <p class="company"><span>WOLTERS KLUWER</span> | January 2017 – Present</p>
                <p>Led the development of core features, mentored fellow developers, and engineered software solutions
                    for in-house domain-specific languages and support tools within an Agile/Scrum environment.
                    Supported multiple product teams through internal tooling initiatives.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Software Developer</h3>
                <p class="company"><span>ALTRAN (NSPYRE)</span> | December 2011 – December 2016</p>
                <p>I started as an automation engineer working on a research
                    project that aimed at producing big diagonal OLED screens. Then I worked on developing tools that
                    use model driven engineering concepts and are based on Eclipse as
                    a platform, leading the MDE team in Cluj.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Project Engineer</h3>
                <p class="company"><span>EMERSON</span> | November 2007 – December 2011</p>
                <p>Handled system engineering and design tasks—including configuration, Factory Acceptance Testing
                    (FAT), and Site Acceptance Testing (SAT). Also worked on integrating DeltaV systems with third-party
                    equipment and PLCs, while providing back-office support for oil and gas projects.</p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Web Developer</h3>
                <p class="company"><span>BITSTONE</span> | January 2007 – November 2007</p>
                <p>Implemented various websites in alignment with client specifications.</p>
            </div>
        </div>
    </div>
</section>
