<section class="hero" id="hero">
    <div class="hero-content">
        <span class="tech-tag">Senior Software Engineer</span>
        <span class="tech-tag">Technical Leader</span>
        <span class="tech-tag">Full-Stack Creator</span>
        <h1>Hello, I'm <span>Catalin</span></h1>
        <p>I have been transforming ideas into software for over 15 years. </p>
        <div class="hero-buttons">
            <a class="contrast small-button" href="#projects" role="button">
                <i class="fa-solid fa-folder-open"></i> View Projects
            </a>

            <a class="secondary small-button" download
               href="{{ url_for('static', filename='docs/CV_CatalinBota_En_2025.pdf') }}"
               role="button">
                <i class="fa-solid fa-download"></i> Download Resume
            </a>
        </div>
        <div class="social-icons">
            <a aria-label="Blog" data-placement="bottom" data-tooltip="My Blog"
               href="https://botacatalin.github.io/Blog/" target="_blank">
                <i class="fa-solid fa-blog"></i>
            </a>
            <a aria-label="GitHub Profile" data-tooltip="My GitHub page" data-placement="bottom"
               href="https://github.com/botacatalin?tab=repositories" target="_blank">
                <i class="fa-brands fa-github"></i>
                <a aria-label="LinkedIn Profile" data-tooltip="My Linkedin profile" data-placement="bottom"
                   href="https://www.linkedin.com/in/catalinbota/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a aria-label="Contact" data-placement="bottom" data-tooltip="Contact me" href="#contact">
                    <i class="fa-solid fa-envelope-open"></i>
                </a>〚
                <a aria-label="Facebook Profile" data-tooltip="Organization Facebook page" data-placement="bottom"
                   href="https://www.facebook.com/profile.php?id=61573676917525"
                   target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </a>
            <a aria-label="GitHub Profile" data-tooltip="Organization landing page" data-placement="bottom"
               href="https://nodes.ro" target="_blank">
                <i class="fa-solid fa-code"></i>
            </a> 〛


        </div>
    </div>
    <div class="picture-box-wrapper">
        <div class="picture-box">
            <img alt="Laptop Image" src="{{ url_for('static', filename='images/laptop.png') }}"/>
        </div>
    </div>
</section>
