<section class="skills-section" id="skills"><br/>
    <h2>My Technical Experience</h2>
    <hr class="section-divider"/>
    <p>A categorized view of the technologies I've worked with across the software development lifecycle.</p>

    <div class="skills-grid two-columns">
        <!-- Left Column -->
        <div class="column">

            <div class="skill-card">
                <hgroup>
                    <h3>Platform & Domain Engineering</h3>
                    <p>Domain-Specific & Code-Generation</p>
                </hgroup>

                <div class="skills-tags">
                    <span data-tooltip="Code generation and model transformation in MDE-based tools">XText / Xtend</span>
                    <span data-tooltip="Industrial programming standards used in automation and PLC integration">IEC 61131-3</span>
                </div>
            </div>


            <div class="skill-card">
                <h3>Database</h3>
                <p>Designing and managing data storage solutions from lightweight embedded stores to enterprise
                    systems.</p>
                <div class="skills-tags">
                    <span>Embedded(SQLite)</span>
                    <span>Open-source(MySQL)</span>
                    <span>Enterprise-grade(Oracle)</span>
                    <span>In-memory(H2)</span>
                </div>
            </div>

            <div class="skill-card">
                <hgroup>
                    <h3>Testing & QA</h3>
                    <p>Ensuring code correctness, performance, and user experience through automated and manual
                        testing.</p>
                </hgroup>

                <div class="skills-tags">
                    <span>Junit & Mockito</span>
                    <span>UI Automation - SWTBot</span>
                </div>
            </div>

            <div class="skill-card">
                <hgroup>
                    <h3>Version Control & Builds</h3>
                    <p>Source management, ticket strategies, and build automation.</p>
                </hgroup>
                <div class="skills-tags">
                    <span>Git</span>
                    <span>GitHub</span>
                    <span>Bitbucket</span>
                    <span>Maven</span>
                    <span>Jira</span>
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="column">
            <div class="skill-card">
                <hgroup>
                    <h3>General Purpose Languages</h3>
                    <p>Main Programming Languages</p>
                </hgroup>

                <div class="skills-tags">
                    <span data-tooltip="Core language for enterprise solutions, Eclipse plugin/RCP development, and DSL tooling">Java</span>
                    <span data-tooltip=" Web applications, scripting, and automation workflows">Python</span>
                    <span>C</span>
                    <span>PHP</span>
                </div>
            </div>

            <div class="skill-card">
                <hgroup>
                    <h3>Front-end</h3>
                    <p>Focused on clean, responsive, and minimal designs</p>
                </hgroup>

                <div class="skills-tags">
                    <span>HTML5</span>
                    <span>CSS / PicoCSS</span>
                    <span>JavaScript</span>
                </div>
            </div>

            <div class="skill-card">
                <h3>DevOps & Infrastructure</h3>
                <p>Packaging and isolating applications for consistent deployments.</p>
                <div class="skills-tags">
                    <span data-tooltip="deployment package">Docker</span>
                    <span data-tooltip="cloud infrastructure">Akamai Cloud</span>
                    <span data-tooltip="automation platform"> Make.com (Integromat)</span>
                    <span>CI/CD Pipelines(TeamCity)</span>
                </div>
            </div>

            <div class="skill-card">
                <hgroup>
                    <h3>Eclipse Platform & RCP Development</h3>
                    <p>Rich Client Platform applications for custom tooling and DSL editors.</p>
                </hgroup>
                <div class="skills-tags">
                    <span data-tooltip="Eclipse based Rich Client Platform applications">Eclipse RCP</span>
                </div>
            </div>


        </div>
    </div>
</section>
